# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store

# Ignore downloads and videos directories
downloads/
videos/

# Local environment variables
.env
